.navbar {
    background-color: #2e0d23;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f8e4c1

}

.navbar ul {
    display: flex;
    gap: 0.8rem;
}

.navbar a {
    color: #f54828;
}